h1 {
    color: chartreuse ;
    border: 1rem groove black;
    border-radius: 0.35rem;
}
h2{
    color: blue;
}
h3{
    color: goldenrod;
}

h1#pag{
    color: darkorange;
    border: 0.8rem dotted blue;
}

